ZAPIER_WEBHOOK_URL=

OMNIQUE_USERNAME=tu_usuario
OMNIQUE_PASSWORD=tu_password
OMNIQUE_DOWNLOAD_DIR=./downloads

CLOUD_PROVIDER=dropbox
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_REFRESH_TOKEN=
GDRIVE_FOLDER_ID=
